
<!-- Toolbar -->
<div class="toolbar" role="banner">

</div>

<div class="content" role="main">
  <div class="response-container">
    <div class="item" *ngFor="let item of respArr">
      <div class="item-msg">
        {{ item.msg }}
      </div>
      <div class="item-response">
        {{ item.response }}
      </div>
    </div>
  </div>


  <!-- Footer -->
  <footer class="footer">
    <form (submit)="submitForm()">
      <textarea type="text" name="inputField" placeholder="Enter your text" [(ngModel)]="inputText"></textarea>
      <div class="card-container">
        <button type="submit" class="card card-small submit-button">
          Submit
        </button>
      </div>
    </form>
  </footer>
</div>


<router-outlet></router-outlet>
