<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button class="popup-btn" (click)="togglePopup()">Personality</button>
</div>

<div *ngIf="isShowPopup" class="pop-overlay" (click)="hidePopup()">
  <div class="popup" id="popupMenu">
    <div class="pop-desc">
      <span>Select Chatbot Personality</span>
    </div>
    <ul>
      <li (click)="handleMenuItemClick('')">None</li>
      <li *ngFor="let personality of personalities" (click)="handleMenuItemClick(personality)">
        {{ personality }}
      </li>
    </ul>
  </div>
</div>

<div class="content" role="main">
  <div class="response-container">
    <div class="item" *ngFor="let item of respArr">
      <div class="item-msg">
        {{ item.msg }}
      </div>
      <div class="item-response">
        {{ item.response }}
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <form (submit)="submitForm()">
      <textarea type="text" name="inputField" placeholder="Enter your text" [(ngModel)]="inputText"></textarea>
      <div class="card-container">
        <button type="submit" class="card card-small submit-button">
          Submit
        </button>
      </div>
    </form>
  </footer>
</div>

<router-outlet></router-outlet>
