* {
  margin: 0;
  padding: 0;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;

}


.personality-span {
  width: 200px;
  margin-left: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.onboard-container {
  cursor: pointer;
}

.onboard-title {
  margin-right: 20px;
  vertical-align: center;
}

.onboard-true {
  font-size: 30px;
  color: green;
  background-color: lightseagreen;
  padding: 4px;
  border-radius: 4px;
}

.onboard-false {
  font-size: 30px;
  color: red;
  background-color: pink;
  padding: 4px;
  border-radius: 4px;
}

.onboard-container {
  margin-left: 40px;
}

.slider-container {
  margin-left: 50px;
}







.popup-btn {
  margin-left: 20px;
  padding: 10px;
  background-color: salmon;
  color: white;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
}

.pop-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.35);
}

.popup {
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 350px);
  width: 600px;
  height: 600px;
  border: 2px solid lightgray;
  border-radius: 10px;
  list-style: none;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 20px;
}

.pop-desc {
  margin-top: 10px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.popup > ul {
  list-style: none;
  padding-bottom: 10px;
}

.popup > ul > li {
  cursor: pointer;
  padding: 15px 30px;
}

.popup > ul > li:hover {
  background-color: cornflowerblue;
  color: white;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.content {
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.response-container {
  width: 100%;
  font-size: 20px;
  padding-bottom: 40px;
}

.item {
  width: 100%;
}

.item-msg {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.item-response {
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid lightgray;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
}

.footer form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
}

.footer textarea[type="text"] {
  min-height: 60px;
  width: calc(100% - 200px);
  margin-right: 10px;
  padding: 5px;
  font-size: 18px;
  overflow-y: scroll;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
}

.footer button {
  height: 30px;
  font-size: 20px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.footer button:hover {
  background-color: #666;
  box-shadow: 3px 3px lightblue;
}

.submit-button {
  margin-right: 30px;
}
